<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Criação de Catalogo</title>
  <link rel="stylesheet" type="text/css" href="/css/estilo.css">
</head>

<body>
<h1> Olá 
	<% if(user){ %>
		<%= user.username %>
	<%}%>
</h1>
-----------
modo edicao de catalogo
-----------
<nav class="" >
	•<a href="/dashboard" >Cadastro</a>•|
	•<a href="/" >Inicio</a>•|
	
</nav>
<br>
<h2 class="">Criação de catalogo</h2>
<form action="/editarCatalogo?_method=PUT" method="post" accept-charset="utf-8"><br>
	<input type="text" name="nome" value="<%= catalogo.nome %>" id="" placeholder="Nome do catalogo"><br>
	<select id="catEstado" name="estado">
		<option value="ativo">Ativo</option>
		<option value="inativo">Inativo</option>
	</select><br>
  <textarea class="" name="descricao"><%= catalogo.descricao %></textarea><br>
  <input type="submit" value="Salvar">
</form>
</body>

</html>
