<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="/css/estilo.css">
</head>

<body>
<h1> Olá 
	<% if(user){ %>
		<%= user.username %>
	<%}%>
	<br>
	<sub>modo edição</sub>
</h1>
<p class="" ><a href="/dashboard" >Voltar</a>

<!--
	<h2 class="">Nome </h2>
	<p class=''>email</p>
	<p class=''>cep</p>
	<p class=''>endereco | num | complemento</p>
	<p class=''>tel 1 | tel 2</p>
-->

<form action="/salvarDashboard" method="post" accept-charset="utf-8">
  <input type="text" name="nomeComp" id="" placeholder="Nome Completo">
  <input type="email" name="email" id="email" placeholder="Email">
  <input type="text" name="cep" id="" placeholder="cep">
  <input type="text" name="endereco" id="" placeholder="Endereço">
  <input type="number" name="numCasa" id="num_casa" placeholder="Numero da casa">
  <input type="text" name="complemento" id="" placeholder="Complemento">
  <input type="tel" name="telefone" id="telefone" placeholder="telefone">
  <input type="tel" name="telefone" id="telefone" placeholder="telefone">
  <input type="submit" value="Salvar">
</form>
</body>

</html>
